.App {
  text-align: center;
}
body{
  background-color: #e7e393;
  color:#04030f;
  font-family: 'Merienda', cursive;
}
a{
  color:#04030f;
  text-decoration: none;
  margin:1rem;
  transition: all .2s;
}
a:hover{
  color: #dd7230;
}
select{
  width: 150px;
}
button{
  margin: 1rem 0;
  padding:.5rem;
  color: #dd7230;
  background-color: #04030f;
  font-family: 'Merienda', cursive;
}
/* h3, p {
  text-align: center;
} */
form{
margin: 0 40rem;
border:2px solid black;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
margin-bottom: 1.5rem;
}

/* Toggle Switch Styles */
/* Credit for toggle switch css logic goes to w3schools.com @ https://www.w3schools.com/howto/howto_css_switch.asp */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #dd7230;
}

input:focus + .slider {
  box-shadow: 0 0 1px #dd7230;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}